*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // background-color: rgb(158, 151, 151);
  // background-color: rgb(167, 131, 201);
  // background-color: rgb(78, 68, 88);
}

body {
    position: relative; 
  }

  #myIcons {
    // max-height: 500px;
    padding-top: 100px;
    // color: rgb(16, 30, 75); 
    display: flex;
    flex-direction: column;
    font-family: 'Bungee Shade', cursive;
    // font-size: 50px;
    // font-size: 100px;
    justify-content: center;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

#myself {
  font-size: 15px;
  
}

  // #myself {
  //   // display: flex;
    
  // }

  #profile {
    height: 700px;
    // color: white;
    background-color: rgba(173, 42, 42, 0.253);
    display: flex;
    justify-content: space-evenly;
    // background: url("https://res.cloudinary.com/doe5zwesw/image/upload/v1631217534/profile_ijyamh.jpg");
    // background-image: no repeat;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    align-items: center;
    // padding-left: initial;
    // border-top: ceil($number: 0);
    // margin-top: 0 auto;
  }

#img {
  // border-top: 20px;
  // margin: 0 auto;
  padding-top: 200px;
}

#aboutMe {
  background-color: black;
  padding-top: 50px;
  max-height: 2000px;;
  color: #fff; 
  display: flex;
  letter-spacing: 2px;
}

#experience {
  // background-color: rgb(167, 131, 201);
  background-color: rgb(118, 84, 150);
  padding-top: 100px;
  max-height: 1600px;
  color: #fff; 
  display: flex;
  letter-spacing: 2px;
}

#projects {
  background-color: rgb(37, 18, 54);
  padding-top: 80px;
  max-height: 2100px;
  color: #fff; 
  display: flex;
  letter-spacing: 2px;
}

#interests {
  background-color: rgb(17, 52, 53);
  padding-top: 80px;
  height: 2400px;
  color: #fff; 
  display: flex;
  letter-spacing: 2px;
}

#contact {
  background-color: rgb(48, 75, 105);
  padding-top: 50px;
  max-height: 1600px;
  color: #fff; 
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex: auto;
  position: relative;
  letter-spacing: 2px; 
  margin-bottom: 4px;  
  }
    
#navbarScroll {
  display: inline;
  flex-direction: row;
}

#INFO {
  background-image: url("https://res.cloudinary.com/doe5zwesw/image/upload/v1627457771/Project%204/nature_emfd4k.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding: 80px;
  border-color: whitesmoke;
  display: flex;
 
}

// .myIcons {
//   // max-height: 500px;
//   padding-top: 150px;
//   // color: rgb(16, 30, 75); 
//   display: flex;
//   flex-direction: row;
//   font-family: 'Bungee Shade', cursive;
//   font-size: 20px;
//   justify-content: center;
//   letter-spacing: 6px;
//   text-transform: uppercase;
// }

.myName {
  padding-top:160px;
  color: rgb(16, 30, 75); 
  display: flex;
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

#myProfile {
  padding-top:160px;
  color: rgb(16, 30, 75); 
  display: flex;
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

[name="message"] {
  height: 100px;
  position: relative;
}

img {
  position: relative;
  background-position: cover;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix  .container-fluid {
  position: relative;
  top: 50px;
}

.teal {
  width: 100%;
  font-family: 'Monoton', cursive;
  display: flex;
  letter-spacing: 2px;
}

.navbar {
  justify-content: center;
  // background-color: rgb(167, 131, 201);
  background-color: rgb(148, 95, 95);
}

.ICONS3 {
  display: flex;
  justify-content: center;
}

.d-flex {
  justify-content: center;
}

.pic {
  max-width: 50px;
  height: 50px;
  margin-top: 20px;
  padding: 5px;
  justify-content: center;
  margin: 0 auto;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

Navbar.Toggle {
  color: white;
}

#options {
  color: rgb(4, 58, 207);
  margin-left: 10px;
}

.git {
  display: flex;
  max-width: 50px;
  color: #298130;
  background-color: white;
}

.boot {
  max-width: 75px;
  background-color: white;
  padding: 10px;
}

.ICONS {
  max-height: 1300px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: flex;
  font-style: italic;
  font-size: 10px;
  flex: auto;
  font-size: 50px;
  padding: 0px;
  border-right: 60px;
}

.ICONS2 {
  max-height: 1300px;
  background-color: #514664;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: flex;
  font-style: italic;
  flex: auto;
  font-size: 50px;
  padding: 5px;
  border: 10px;
  color: white;
  letter-spacing: 8px;
}

.g-4 {
  max-width: 400px;
  
}

.char {
  font-size: 18px;
}

.d-block {
  font-size: 18px;
  max-width: 700px;
}

.title {
  text-decoration: underline;
}

.tools {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-style: italic;
  flex: auto;
  font-size: 50px;
  }

#fa-fa {
  background-color: cadetblue;
  font-size: 40px;
}

#open {
  font-size: 30px;
}

#nav {
  width: 100%;
  color: rgb(26, 12, 12);
  align-items: center;
  display: flex;
  justify-content: center;
  }

#nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
#about, #exp, #proj, #inter, #cont {
  font-family: 'Bungee';
  text-transform: uppercase;
}

#container2 {
  display: row; 
}

// #profile {
//   width: 300px;
//   border-radius: 20px;
//   display: flex;
// }

#big-button {
  height: 100px;
  width: 100px;
  color: rgba(17, 15, 15, 0.966);
  background-color: #a4ccc8;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 8px;
}

#pro {
  color: white;
  font-weight: bold;
  text-decoration-color: yellow;
}

#overlay-example {
  max-width: 300px;
  font-size: 15px;
}

#butt {
  background-color: rgb(212, 219, 219);
  padding: 14px 14px;
  // margin: auto;
  margin-bottom: 6px;
  color: rgb(56, 6, 6);
  border: rgb(239, 238, 245);
  border-radius: 8px;
  font-size: 12px;
  
}


#icon {
  max-height: 40px;
  // color: white;
  color: rgba(26, 12, 12, 0.904);
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
 
}

 #position1 {
   max-width: 100px;
   font-size:10px;
 }
 #paint {
   margin-top: 20px;
   max-width: 700px;
   justify-content: center;
 }

 #foot {
  height: 50px;
  background-color: #514664;
  justify-content: space-between;
  text-align-last: justify;
  align-items: center;
  display: flex;
  flex-direction: flex;
  font-style: italic;
  flex: auto;
  font-size: 50px;
  text-decoration: rgb(0, 255, 149);
  color: #298130;
  letter-spacing: 4px;
  border-radius: 2px;
  }

.container {
  margin-top: 5px;
}
.describe {
  display: block;
  font-size: 18px;
}

#EOU {
  max-width: 700px;
}

.image {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.github {
  margin: 0 auto;
  padding: 40%;
  position: cover;
  letter-spacing:2px;
  display: flex;
}

@media screen and (max-width: 300px) {
// #interests {
//   height: 2700px;
//   padding: 150px;
// } 

#projects {
  max-height: 2300x;
}

.pic {
  max-width: 15px;
  height: 20px;
  margin-top: 100px;
  padding: 2px;
  justify-content: center;
  margin: 0 auto;
  }
}


@import "~bootstrap/scss/bootstrap";
