*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Monoton', cursive;
    position: relative; 
    background-color: rgba(250, 235, 215, 0.527);
  }

  

  #home {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #514664;
    // margin-top: 150px;
  }

  #aboutMe {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #514664;
  }

  #experience {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #514664;
  }

  #project1 {
    padding-top:50px;
    height:1000px;
    color: #fff; 
    background-color: #514664;
  }

  #project2 {
    padding-top:50px;
    height:1000px;
    color: #fff; 
    background-color: #514664;
  }

  #project3 {
    padding-top:50px;
    height:1000px;
    color: #fff; 
    background-color: #514664;
  }

  #project4 {
    padding-top:50px;
    height:1000px;
    color: #fff; 
    background-color: #514664;
  }

  #interests {
    padding-top:50px;
    height:1000px;
    color: #fff; 
    background-color: #514664;
  }

  #contact {
    padding-top:50px;
    height:800px;
    color: #fff; 
    background-color: #514664;
  }

  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .affix  .container-fluid {
    position: relative;
    top: 50px;
  }

  #top {
    background-color: hsla(310, 62%, 31%, 0.137);
    color:hsla(224, 63%, 49%, 0.137);
    height: 200px;
  }

  .teal {
    background-color: #a4ccc8;
    font-family: 'Monoton', cursive;
  }

  .navbar {
    background-color: #a4ccc8;
    font-family: 'Monoton', cursive;
    border-color: #3d449c;
  }

  .d-flex {
    justify-content: center;
  }

  // .d-block w-100 {
  //   flex-direction: row;
  // }

  .pic {
    max-width: 150px;
    margin-top: 50px;
    padding: 5px;
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .git {
    display: flex;
    max-width: 50px;
    color: #298130;
    background-color: #298130;
  }

  .boot {
    max-width: 75px;
    background-color: #5bc9c025;
  }

  .ICONS {
    height: 800px;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: flex;
    font-style: italic;
    flex: auto;
    font-size: 50px;
    padding: 100px;
    border-right: 60px;
    position: relative;
  }

  .g-4 {
    max-width: 400px;
    
  }

  #icon {
    color: #298130;
    font-size: 30px;
    margin: 0 auto;
  }

   #position1 {
     max-width: 100px;
     font-size:10px;
   }

  .container {
    margin-top: 5px;
  }
  .describe {
    display: block;
    font-size: 18px;
  }

  // image {
  //     max-width: 400px;
  //     padding: 40%;
  //     position: cover;
  // }
  #Nav {
      color:#61817e;
  }

  .Footer {
    max-height: 50px;
    justify-content: center;
    font-size: 12px;
    
  }

  .image {
    justify-content: center;
    display: flex;
    padding: 10px;
  }

  .github {
    margin: 0 auto;
    padding: 40%;
    position: cover;
    letter-spacing:2px;
    display: flex;
  }


  @import "~bootstrap/scss/bootstrap";