
body {
    position: relative; 
  }
  #home {padding-top:50px;height:500px;color: #fff; background-color: #514664;}
  #aboutMe {padding-top:50px;height:1000px;color: #fff; background-color: #514664;}
  #experience {padding-top:50px;height:500px;color: #fff; background-color: #514664;}
  #project1 {padding-top:50px;height:1000px;color: #fff; background-color: #514664;}
  #project2 {padding-top:50px;height:1000px;color: #fff; background-color: #514664;}
  #project3 {padding-top:50px;height:1000px;color: #fff; background-color: #514664;}
  #project4 {padding-top:50px;height:1000px;color: #fff; background-color: #514664;}
  #interests {padding-top:50px;height:800px;color: #fff; background-color: #514664;}
  #contact {padding-top:50px;height:800px;color: #fff; background-color: #514664;}

  #narbarScroll {
    font-size: large;
  }
  image {
      max-width: 400px;
      padding: 40%;
      position: cover;
  }
  #Nav {
      color:#61817e;
  }


  @import "~bootstrap/scss/bootstrap";